body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
  }
  
  .formulaScreen {
    min-height: 20px;
    font-size: 20px;
    color: white;
    text-align: right;
    vertical-align: text-top;
    line-height: 20px;
    max-width: 215px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: absolute;
    padding-bottom: 50px;
  }
  
  .outputScreen {
    font-size: 40px;
    color: white;
    text-align: right;
    line-height: 35px;
    position: fixed-right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 215px;
  }

  .btn {
    font-size: 50px;
    text-align: center;
    align-items: center;
    width: 50px;
    position: sticky;
  }
  
  .btn:hover {
    background-color: black;
    color: white;
    border-radius: 1px;
    border-color: white;
  }

  #zero {
    width: 100px;
  }

#add {
    height: 88px;
    margin-top: -44px;
}

 #equals {
    position: 'relative';
    height: 88px;
    margin-top: -44px;
  }

  #footer {
    color: white;
  }